// Variables 
@import "/packages/styles/variables.import.less";

.library-board-files {
// .library-board-sleeve.files {
	height: 100%;
	padding-bottom: 3.5em;
	p {
		display: inline-block;
		margin-left: 7%;
		margin-top: 1em;
		font-family: @raleway-regular;
	}
	.room-files {
		height: 50%;
		border-bottom: solid 1px @darker-purple;
		overflow: hidden;
	}
	.library-files {
		position: relative;
		height: 50%;
		overflow: hidden;
		z-index: 1;
	}
	.library-files:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: @ink;
		-webkit-box-shadow: inset 50px 0px 84px -50px #000000;
		-moz-box-shadow: inset 50px 0px 84px -50px #000000;
		box-shadow: inset 50px 0px 84px -50px #000000;
		opacity: 0.8;
		z-index: -1;
	}
	.room-files-sleeve,
	.library-files-sleeve {
		width: 100%;
		height: 80%;
	}
	.room-files-sleeve > .mCustomScrollBox,
	.library-files-sleeve > .mCustomScrollBox {
		width: 100%;
		height: 80%;
	}
	.drop-box {
		margin: 1.5em 0 1em 7%;
		.dropdown {
			display: inline-block;
			.dropdown-toggle {
				font-family: @raleway-bold;
				color: @white;
				cursor: pointer;
			}
			li {
				font-family: @raleway-medium;
				color: @white;
				list-style: none;
				margin: 1em 0;
			}
		}
	}
	.fa {
		font-size: 17px;
	}
	.search {
		position: relative;
		float: left;
		margin-bottom: 2em;
		width: 100%;
		.fa-search {
			position: absolute;
			margin-top: 11px;
			margin-left: 8%;
			text-align: center;
			color: @lt-blue-purple;
		}
		input {
			width: 90%;
			height: 2.5em;
			margin: 0 5%;
			padding-left: 14%;
			float: right;
			line-height: 200%;
			background-color: transparent;
			border: solid 1px @lt-blue-purple;
			border-radius: 2px;
			color: @lt-blue-purple;
			font-family: @raleway-regular;
			font-size: 15px;
		}
		::-webkit-input-placeholder {
		  color:@lt-blue-purple;
		  font-family: @raleway-regular;
		  font-size: 15px;
		}
		::-moz-placeholder { 
		  color: @lt-blue-purple;
		  font-family: @raleway-regular;
		  font-size: 15px; 
		}
		:-ms-input-placeholder {  
		  color: @lt-blue-purple;
		  font-family: @raleway-regular;
		  font-size: 15px; 
		}
	}
}
