<template name="AdminCompanies">
  <div class="row">
    <div class="col-sm-12">
      <h1>Admin Companies</h1>
      <form id="AddCompanies">
        <div class="control-group">
          <label>Company Name</label>
          <div class="controls">
            <input type="input" name="name" id="company-name">
          </div>
        </div>
        <div class="form-actions">
          <input type="submit" id="submit" value="Add" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul>
        {{#each company}}
          <li>
            {{name}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>
