.atom
.DS_Store
.idea
node_modules
tempImages
chucksettings.json
auth1.png

#TODO: Remove these after there created.
packages/files/img/full_imagetmp.jpg
packages/files/img/imagetmp.JPG
packages/files/img/thumb_imagetmp.JPG

# For Testing
packages/tests-proxy

auth1.png

# Bower
/**/**/.meteor/local/bower/*
