// Variables 
@import "/packages/styles/variables.import.less";


.navbar-mobile {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  background-color: transparent;
  z-index: 10;
  .page {
    position: absolute;
    text-align: center;
  }
  .logo {
    position: absolute;
    width: 53px;
    height: 21px;
    left: 50%;
    margin-left: -26px;
    top: 10px;
    background-image: url( ../../images/layout/logo.png );
    background-size: contain;
  }
  .mobile-menu-link  {
    font-size: 20px;
    float: left;
    padding-top: 15px;
    margin-left: 10px;
    width: 40px;
    text-align: center;
    color: @white;
    cursor: pointer;
  }
  .icon-bar {
    margin-bottom: 3px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: @white;
    border-radius: 1px;
  }
  .back,
  .settings {
    font-size: 20px;
    float: left;
    padding-top: 10px;
    width: 40px;
    text-align: center;
    color: @white;
    cursor: pointer;
  }
  .settings {
    float: right;
  }
  .follow,
  .un-follow {
    font-size: 16px;
    float: right;
    width: auto;
    margin-top: 1em;
    margin-right: 13px;
    font-family: @raleway-light;
    text-align: center;
    color: @white;
    cursor: pointer;
  }
}

// Mobile Only
@media all and (max-width: 991px) {
  .navbar-mobile {
    display: block;
  }
}
.navbar-mobile.dashboard {
  background-color: @less-blue;
}
.navbar-mobile.comHub {
  background-color: @lt-navy;
  border-bottom: solid 1px lighten( @lt-navy, 5% );
}