.apps {
  background: #12274e;
  #company-apps {
    margin-top: 30px;
    .app {
      margin-bottom: 30px;
    }
    h2 {
      text-transform: uppercase;
      color: #5bb8d7;
      font-size: 14px;
      margin-left: 3px;
      padding-bottom: 18px;
      border-bottom: 1px solid #5bb8d7;
      margin-bottom: 50px;
      i {
        margin-top: 5px;
        font-size: 2em;
        padding-right: 12px;
        position: relative;
        top: 7px;
      }
      i.fa-mobile {
        padding: 0 20px 0 10px;
      }
      i.fa-desktop {
        padding: 0 20px 0 5px;
      }
    }
  }
}
