<template name="footer">
  <footer>
    <div class="container">
      <hr>
      <div class="row">
        <div class="footer-nav col-sm-12 text-center"></div>
        <div class="col-sm-12 text-center"><a href="http://facebook.com/gooneapp" target="_blank" class="ultm ultm-facebook ultm-32 ultm-square ultm-color-to-gray"></a><a href="http://twitter.com/gooneapp" target="_blank" class="ultm ultm-twitter ultm-32 ultm-square ultm-color-to-gray"></a><a href="http://plus.google.com/103195786540527917588" target="_blank" class="ultm ultm-google-plus-1 ultm-32 ultm-square ultm-color-to-gray"></a></div>
      </div>
    </div>
  </footer>
</template>
