<template name="user_profile">
	{{#with user}}
		<div class="user-profile grid grid-module">
			<table>
				<!-- <tr>
					<td colspan="2"><img class="user-avatar" src="{{avatarUrl}}"/></td>
				</tr> -->
				{{#if isAdmin}}
					<tr>
						<td>{{i18n "ID"}}: </td>
						<td>{{_id}}</td>
					</tr>
				{{/if}}
				<tr>
					<td>{{i18n "Name:"}}</td>
					<td>{{profile.name}}</td>
				</tr>
				<tr>
					<td>{{i18n "Member since"}}:</td>
					<td>{{createdAtFormatted}}</td>
				</tr>
				<tr>
					<td>{{i18n "Bio:"}}</td>
					<td>{{profile.bio}}</td>
				</tr>
			</table>
		</div>
	{{/with}}
</template>
