// Variables 
@import "/packages/styles/variables.import.less";

#communication-directory-modal,
#communication-add-teammember-modal {

  .modal-body {
    padding: 0;
    input {
      width: 92%;
      height: 3em;
      margin-left: 4%;
      margin-right: 4%;
      border: none;
      outline: none;
      text-align: center;
    }
    input::-webkit-input-placeholder {
      font-size: 16px;
      text-align: center;
      color: @heather;
      font-family: @raleway-light;
    }
    input::-moz-placeholder { 
      font-size: 16px;
      text-align: center;
      color: @heather;
      font-family: @raleway-light;
    }
    input:-ms-input-placeholder {  
      font-size: 16px;
      text-align: center;
      color: @heather;
      font-family: @raleway-light;
    }
    .people {
      background-color: @white;
      padding: 0.5em 4%;
      margin-bottom: 1.5em;
    }
    .user {
      position: relative;
      clear: both;
      width: 100%;
      height: 68px;
      border-top: solid 1px @lt-grey;
      background-color: @white;
      .avatar-box{
        position: absolute;
        margin-left: 1.5%;
        .avatar {
          margin: 5px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-position: top center;
          background-size: cover;
        }
      }
      .name {
        float: left;
        font-size: 16px;
        margin-left: 14%;
        margin-top: 0.75em;
        color: @dk-blue;
        background-color: @white;
        font-family: @raleway-light;
      }
      .job {
        float: left;
        clear: left;
        margin-left: 14%;
        font-size: 13px;
        color: @med-grey;
        background-color: @white;
        font-family: @raleway-light;
      }
      .checkbox {
        position: absolute;
        font-size: 30px;
        right: 0;
        top: 0.3em;
        color: @lt-blue-grey;
        cursor: pointer;
        .fa {
          position: absolute;
          font-size: 16px;
          top: 8px;
          left: 22px;
          color: @lt-blue-grey;
        }
        input {
          display: none;
        }
      }
      .userid-checkbox:checked + .icon-plus {
        top: 9px;
      }
      .userid-checkbox:checked + .icon-plus:before {
        content: "\f00c";
        font-family: FontAwesome!important; 
        color: @lt-teal;
      }
      .hovered .userid-checkbox:checked + .icon-plus {
        font-size: 34px;
        left: 15px;
        top: -1px;
      }
      .hovered .userid-checkbox:checked + .icon-plus:before {
        content: "\f056";
        font-family: FontAwesome!important; 
        color: @red;
      }
    }
    .user:first-of-type {
      border-top: none;
    }
  }
  .modal-header {
    .teamMembers {
      text-align: center;
      height: 60px;
      transition: height 350ms ease-out 50ms;
      .member-avatar {
        display: inline-block;
        margin: 5px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: top center;
        background-size: cover;
      }
    }
  }
  .modal-footer {
    padding: 0 0 1em;
  }
}

#communication-add-teammember-modal {
  .modal-title {
    margin-top: 0;
  }
  .modal-footer {
    padding: 0 0 2em;
  }
}

// Mobile 
@media all and (max-width: 991px) {
  #communication-add-teammember-modal {
    .modal-backdrop.in {
      min-height: 200%;
    } 
    .modal-header {
      .teamMembers {
        display: none;
      }
    }
    .modal-body {
      .form-control {
        margin-bottom: 0.75em;
      }
      .user {
        .avatar-box {
          margin-top: 4px;
        }
        .name,
        .job {
          margin-left: 80px;
        }
      }
    }
  }
}

// Small Phones, portrait
@media all and (max-width: 479px) {
  #communication-add-teammember-modal {
    .modal-body {
      .user {
        .name,
        .job {
          margin-left: 70px;
        }
      }
    }
  }
}








