.profile .follow {
  display: block;
  margin-top: 1.0em;
}
.profile .following .follow {
  display: none;
}
.profile .unfollow {
  display: none;
  margin-top: 1.5em;
}
.profile .following .unfollow {
  display: block;
  position: relative;
  height: 1em;
}
.profile .following .unfollow .fa {
  top: 0.15em;
  opacity: 1;
  transition: opacity 350ms ease-out 50ms;
}
.profile .un {
  color: #ffffff;
  display: none;
}
.profile .ing {
  opacity: 1;
  transition: opacity 350ms ease-out 50ms;
}
.profile .unfollow:hover p,
.profile .unfollow:hover .un {
  color: #f26c4f;
  display: inline;
}
.profile .unfollow:hover .fa,
.profile .unfollow:hover .ing {
  opacity: 0;
}
.profile .grey-underline {
  border: 1px solid #b2c0cd;
  border-style: none none solid none;
}
.profile .cornflower-underline {
  border: 1px solid #e9eef3;
  border-style: none none solid none;
}
.profile .followers .card,
.profile .following-people .card {
  position: relative;
  min-height: 10em;
}
.profile .followers .card .v-center,
.profile .following-people .card .v-center {
  width: 96%;
}
.profile .followers .btn,
.profile .following-people .btn {
  padding-left: 2em;
  padding-right: 2em;
}
.profile .followers .btn:hover,
.profile .following-people .btn:hover,
.profile .followers .btn:focus,
.profile .following-people .btn:focus {
  color: #ffffff;
}
.profile .followers hr,
.profile .following-people hr {
  width: 90%;
  background-color: #cde7ef;
  height: 1px;
  position: absolute;
  bottom: 0;
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .profile .following .unfollow {
    display: block;
    text-align: center;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .profile .following .unfollow .fa {
    position: absolute;
    left: -0.75em;
  }
}
@media all and (min-width: 1200px) {
  .profile .followers .card,
  .profile .following .card {
    min-height: 8em;
  }
}
