
// TODO: Put this in communication_sidebar.less once variables are cross platform
.communication-sidebar {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	background-color: @blue-grey;
	.communication-sidebar-sleeve {
		padding-top: 2em;
	}
	.dropdown {
		width: 100%;
		.dropdown-header {
			font-family: @raleway-semibold;
			color: @white;
			text-transform: uppercase;
			letter-spacing: 0.25em;
			cursor: pointer;
		}
		li {
			font-family: @raleway-medium;
			color: @white;
			list-style: none;
			margin: 1em 0;
		}
		.well {
			background-color: @blue-grey;
			box-shadow: none;
			border: none;
			padding: 0 19px;
		}
		.secondary {
			.dropdown-header {
				margin-top: 2em;
			}
			ul {
				padding-left: 19px;
			}
		}
	}
	.dropdown-header {
		height: 3em;
		padding: 1em 3em;
	}
	.unread-num {
		border-radius: 15px;
		padding: 0.1em 0.43em;
		margin-left: 3px;
	}
	.add-team {
		cursor: pointer;
	}
} 

// End TODO

// TODO: Put this in com_sidebar_filter.less once variables are cross platform
.communication-filter {
	.dropdown-header {
		background-color: @lt-navy;
		height: 60px; // set to px to play nice with JS
		padding: 2em 3em;
		.caret {
			display: block;
			position: absolute;
			right: 2em;
			top: 2.5em;
		}
	}
	.dropdown-menu {
		width: 100%;
		background-color: @lt-navy-dk;
		border-radius: 0;
		padding-left: 3em;
		margin-top: -1px;
		li {
			font-size: 12px;
			padding-left: 0;
			text-transform: uppercase;
			letter-spacing: 0.188em;
			padding: 1em 0.5em;
			cursor: pointer;
		}
	}
	.dropdown-menu{
		.all {
			color: @text-purple;
		}
		.company {
			color: @text-blue;
		}
		.direct {
			color: @text-purple;
		}
		.rooms {
			color: @text-blue;
		}
	}
	hr {
		height: 2px;
		width: 110%;
		margin-left: -10%;
		background-color: @navy;
		border: none;
	}
	.draft-num	{
		border-radius: 15px;
		padding: 0.1em 0.43em;
		margin-left: 3px;
		background-color: #697583;
	}
}
// End TODO

// TODO: Put this in communication_sidebar_company.less once variables are cross platform
.communication-sidebar {
	.company {
		padding-left: 5%;
		.dropdown-header {
			color: @text-aqua;
		}
		.unread-num {
			background-color: @dk-sky;
		}
		.fa {
			color: @text-aqua;
		}
	}
} 
// End TODO

// TODO: Put this in communication_sidebar_direct.less once variables are cross platform
.communication-sidebar {
	.direct {
		padding-left: 5%;
		.dropdown-header {
			color: @text-purple;
		}
		.unread-num {
			background-color: @blue-purple;
		}
		.fa {
			color: @text-purple;
		}
	}
} 
// End TODO

// TODO: Put this in communication_sidebar_rooms.less once variables are cross platform
.communication-sidebar {
	.rooms {
		padding-left: 5%;
		.dropdown-header {
			color: @text-blue;
		}
		.unread-num {
			background-color: @dk-sky;
		}	
		.fa {
			color: @text-blue;
		}
	}
} 
// End TODO

// TODO: Put this in communication-hub-main/communication_main.less once variables are cross platform
.communication-main {
	position: fixed;
	top: 70px;
	left: 25.5%;
	bottom: 0;
	right: 0;
	width: 0;
	margin-left: -15px;
	overflow: hidden;
	transition: width 350ms ease-out 50ms;
	z-index: 2;
	.message-board {
		position: relative;
		float: left;
		width: 80%;
		height: 100%;
		background-color: @white;
		.sleeve {
			height: 100%; // height of window
			padding-bottom: 140px; // to account for both input bar and header
			overflow: hidden;
		}
	}
	.task-board {
		float: left;
		background-color: @dk-purple;
		height: 100%;
		overflow: hidden;
		width: 0;
		p {
			color: @white;
		}
	}
	.library-board {
		float: left;
		overflow: hidden;
		width: 0;
		p {
			color: @white;
		}
	}
	.blurry {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-image: url('/images/com-hub-main/blur.png');
    /* Fallback to SVG filters */
    filter: url('#blur');
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
  }
}
// End TODO


// TODO: Put this in communication-main/communication_message_board.less once variables are cross platform
.message-board {
	.header {
		border: solid 2px @med-lt-grey;
		border-style: none none solid none;
		overflow: hidden;
		h1 {
			font-size: 30px;
			font-family: @raleway-light;
			margin-left: 20px;
		}
		.search {
			float: right;
			margin: 1.5em;
			cursor: pointer;
		}
		.message-search {
			display: none;
		}
	}
	.message {
		position: relative;
		padding: 1em 0;
		overflow: hidden;
		.avatar {
			position: absolute;
			margin-left: 25px;
			img {
				border-radius: 50%;
			}
			.status {
				position: absolute;
				width: 10px;
				height: 10px;
				top: 50%;
				left: -5px;
				margin-top: -5px;
				border-radius: 50%;
				transition: background-color 350ms ease-out 50ms;
			}
			.status.active {
				background-color: @green;
			}
			.status.inactive {
				background-color: @red;
			}
			.status.mobile {
				background-color: @accent;
			}
		}
		.message-body {
			float: left;
			margin-left: 100px;
			.name {
				font-family: @raleway-bold;
				color: @text-navy;
			}
			.time {
				font-family: @raleway-regular;
				font-size: 12px;
				color: @blue-grey;
			}
			.text {
				font-size: 16px;
			}
			.doc {
				.thumbnail {
					display: inline-block;
					margin-bottom: 0.25em;
				}
				.title {
					font-size: 12px;
					font-family: @raleway-semibold;
					color: @text-navy;
					.fa {
						font-size: 14px;
						color: @accent;
						margin-right: 0.5em;
					}
					.size {
						font-family: @raleway-regular;
						color: @blue-grey;
						margin-left: 0.5em;
					}
				}
				.action-bar {
					a {
						color: @teal;
						margin-right: 1.5em;
					}
				}
			}
		}
	}
	.message.user {
		background-color: @lt-grey;
	}
	.new-message-bar {
		width: 96%;
		margin: 1em 2%;
		text-align: center;
		p {
			position: relative;
			display: inline-block;
			padding: 0 1em;
			font-family: @raleway-bold;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 0.125em;
			background-color: @white;
			color: @teal;
			z-index: 1;
		}
		hr {
			margin-top: -1.5em;
			background-color: @text-teal;
		}
	}

}
// End TODO

// TODO: Put this in communication/communication_message_input.less once variables are cross platform
.message-input {
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	background-color: @white;
	border: 2px solid @lt-dk-grey;
	border-style: solid none none none;
	z-index: 2;
	.message-btn {
		float: left;
		background-color: @lt-blue-grey;
		height: 4em;
		width: 4em;
		border-radius: 50%;
		margin: 0.5em 0 0.5em 25px;
		padding: 1.5em;
		cursor: pointer;
		.fa {
			font-size: 18px;
		}
	}
	.input-options {
		position: absolute;
		bottom: 80px;
		left: 10px;
		.option {
			width: 10em;
			height: 3.5em;
			color: @white;
			border-radius: 3px;
			-webkit-box-shadow: -9px 10px 22px -11px rgba(0,0,0,0.75);
			-moz-box-shadow: -9px 10px 22px -11px rgba(0,0,0,0.75);
			box-shadow: -9px 10px 22px -11px rgba(0,0,0,0.75);
		}
		.post {
			background-color: @lime;
		}
		.attachment {
			background-color: @accent;
		}
		.task {

		}
	}
	.fake-input {
		font-size: 16px;
		float: left;
		padding: 1.5em 1em 1.5em 25px;
		color: @blue-grey;
	}
	.dropdown {
		width: auto;
	}
}
// End TODO


// TODO: Put this in communication-library/communication_library_board.less once variables are cross platform
.library-board {
	height: 100%;
	.header {
		border-bottom: solid 1px @dk-purple;
		height: 3.5em;
	}
	.top-btn {
		float: left;
		width: 25%;
		padding-top: 1em;;
		text-align: center;
		cursor: pointer;
		color: @lt-blue-purple;
		.fa {
			font-size: 17px;
		}
	}
	.top-btn.secondary {
		position: relative;
		border-left: solid 1px @dk-purple;
		height: 100%;
		color: @white;
	}
	.top-btn.secondary:after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: #384661;
		opacity: 0.5;
	}
	.top-btn.active {
		color: @lt-sky;
		.fa {
		}
	}
}
// End TODO


// TODO: Put this in communication-library/communication_library_members.less once variables are cross platform


.library-board-sleeve.members {
	height: 100%;
	.member:first-of-type {
		margin-top: 1.5em;
	}
	.member{
		position: relative;
		float: left;
		width: 100%;
		height: 70px;
		.avatar {
			position: absolute;
			height: 55px;
			width: 55px;
			margin-top: 7px;
			margin-left: 25px;
			img {
				border-radius: 50%;
				width: 100%;
				height: auto;
			}
			.status {
				position: absolute;
				width: 10px;
				height: 10px;
				top: 50%;
				left: -5px;
				margin-top: -5px;
				border-radius: 50%;
				transition: background-color 350ms ease-out 50ms;
			}
			.status.active {
				background-color: @green;
			}
			.status.inactive {
				background-color: @red;
			}
			.status.mobile {
				background-color: @accent;
			}
		}
		.name {
			margin-left: 95px;
			margin-top: 22px;
			font-family: @raleway-bold;
			color: @white;
		}
		.title {
			margin-left: 95px;
			font-size: 12px;
			font-family: @raleway-light;
			color: @text-cornflower;
			line-height: 100%;
		}
		.video-chat, 
		.phone {
			position: absolute;
			right: 1em;
			top: 5px;
			opacity: 0;
			color: @text-cornflower;
		}
		.phone {
			right: 3em;
		}
		.phone:hover {
			color: @green;
		}
		.video-chat:hover {
			color: @accent;
		}
	}
	.member:hover .video-chat,
	.member:hover .phone {
		opacity: 1;
	}
	.invite-button {
		position: relative;
		float: left;
		width: 100%;
		height: 70px;
		.icon-addteam {
			font-size: 56px;
			position: absolute;
			height: 55px;
			width: 55px;
			margin-top: 7px;
			margin-left: 25px;
			color: @lt-teal;
			cursor: pointer;
		}
		input {
			margin-left: 95px;
			margin-top: 22px;
			width: 45%;
			background-color: transparent;
			border: none;
			font-family: @raleway-light;
			color: @lt-teal;
		}
		input:focus {
		  border-color: #FF0000;
		  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
		}
		::-webkit-input-placeholder {
		  font-family: @raleway-light;
			color: @lt-teal;
		}
		::-moz-placeholder { 
		  font-family: @raleway-light;
			color: @lt-teal; 
		}
		:-ms-input-placeholder {  
		  font-family: @raleway-light;
			color: @lt-teal;
		}
		.fa-user {
			color: @accent;
			opacity: 0;
			cursor: pointer;
		}
	}
}
// End TODO


// TODO: Put this in communication-library/communication_library_files.less once variables are cross platform

.library-board-sleeve.files {
	height: 100%;
	padding-bottom: 3.5em;
	.drop-box {
		margin-top: 1.5em;
		p {
			display: inline-block;
			margin-left: 5%;
			font-family: @raleway-regular;
		}
		.dropdown {
			display: inline-block;
			.dropdown-toggle {
				font-family: @raleway-bold;
				color: @white;
				cursor: pointer;
			}
			li {
				font-family: @raleway-medium;
				color: @white;
				list-style: none;
				margin: 1em 0;
			}
		}
	}
	.fa {
		font-size: 17px;
	}
	.search {
		margin-bottom: 2em;
		.fa-search {
			width: 20%;
			margin-top: 3px;
			text-align: center;
			color: @white;
		}
		input {
			width: 80%;
			float: right;
			background-color: transparent;
			border: none;
			color: @periwinkle;
			font-family: Myriad Pro, sans-serif;
			font-size: 18px;
		}
		::-webkit-input-placeholder {
		   color:@periwinkle;
		   font-family: Myriad Pro, sans-serif;
		   font-size: 18px;
		}
		::-moz-placeholder { 
		   color: @periwinkle;
		   font-family: Myriad Pro, sans-serif;
		   font-size: 18px; 
		}
		:-ms-input-placeholder {  
		   color: @periwinkle;
		   font-family: Myriad Pro, sans-serif;
		   font-size: 18px; 
		}
	}
	.file {
		width: 100%;
		height: 3.5em;
		margin-bottom: 1em;
		.file-icon {
			width: 20%;
			float: left;
			text-align: center;
			color: @accent;
			img {
				display: inline-block;
				width: 80%;
				height: auto;
			}
		}
		.title {
			width: 80%;
			float: right;
			font-family: @raleway-regular;
			font-size: 13px;
			color: @white;
		}
		.date {
			width: 80%;
			float: right;
			font-size: 11px;
			font-family: @raleway-regular;
			color: @grey;
		}
	}
	.file.personal {
		.file-icon {
			color: @teal;
		}
	}
}
// End TODO
















