// Variables 
@import "/packages/styles/variables.import.less";

.profile {
  
   .form-control {
      color: #ffffff;
      font-family: RalewaySemibold, Verdana, Geneva, sans-serif;
    }
    .form-control::-webkit-input-placeholder {
      color: #ffffff;
      font-family: RalewaySemibold, Verdana, Geneva, sans-serif;
    }
    .form-control::-moz-placeholder {
      color: #ffffff;
      font-family: RalewaySemibold, Verdana, Geneva, sans-serif;
    }
    .form-control:-ms-input-placeholder {
      color: #ffffff;
      font-family: RalewaySemibold, Verdana, Geneva, sans-serif;
    }
    .form-control {
      width: 40%;
      height: 3em;
      padding: 9px 12px;
      letter-spacing: 0.0625em;
      background-color: #51a9c6;
      border: none;
      outline: none;
      box-shadow: none;
      float: left;
    }
    .form-control.left {
      border-radius: 5px 0 0 5px;
      border: 1px solid #4b9ab4;
      border-style: none solid none none;
    }
    .form-control.right {
      border-radius: 0 5px 5px 0;
    }

    .listing-gallery .btn-accent-border {
      border-color: #a3b3c3;
      color: #a3b3c3;
      width: 200px;
    }
    .listing-gallery .btn-accent-border:hover {
      border-color: #65809b;
      color: #65809b;
      background-color: transparent;
    }
}