// Variables
@import "/client/lib/style.import.less";

.wrap {
  position: relative;
}

.content {
  position: relative;
}

a {
  color: #5bb8d7;
  &:active, &:hover, &:focus {
    color: #2885a4;
    outline: none;
    text-decoration: none;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
  }
}

a,
p,
span {
  transition: color 350ms ease-out 50ms;
}
p {
  color: #78838e;
}


h1.header-green {
  background: #77cfbd;
  margin: 0;
  padding: 11px 20px;
  color: white;
  box-shadow: 0px 1px 4px #888888;
  font-size: 26px;
  height: 50px;
}

h1.header-blue {
  background: #5bb8d7;
  margin: 0;
  padding: 11px 20px;
  color: white;
  box-shadow: 0px 1px 4px #888888;
  font-size: 26px;
  height: 50px;
}

hr {
  margin: 0;
  height: 1px;
}

button {
  outline: none;
}
