.modal {

}
.modal-backdrop.in {
  background-color: #20344c;
  opacity: 0.9;
}
.modal-dialog {
  margin-top: 100px;
}
.modal-content {
  background-color: #e7eaf2;
  border-radius: 3px;
  .close {
    color: #616e8d;
    right: -1em;
    position: absolute;
    top: -1em;
    opacity: 1;
    text-shadow: none;
    transition: opacity 350ms ease-out 50ms;
  }
  .btn {
    height: 3.5em;
    width: 40%;
    font-size: 12px;
    font-family: RalewayBold, Verdana, Geneva, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }
  .btn-default {
    border: solid 3px #5fd1ba;
    color: #5fd1ba;
    background-color: transparent;
  }
  .btn-default:hover,
  .btn-default:active,
  .btn-default:focus {
    color: darken(#5fd1ba, 10%);
    boarder-color: darken(#5fd1ba, 10%);
  }
  .btn-primary {
    background-color: #5fd1ba;
    color: #fff;
  }
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus {
    background-color: darken(#5fd1ba, 10%);
  }

}
.modal-header {
  border: none;
  .modal-title {
    font-size: 14px;
    margin-top: 3em;
    font-family: RalewayBold, Verdana, Geneva, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #6c7798;
  }
}
.modal-title {

}
.modal-body {
  padding: 0 30px;
  p {

  }
  .form-group {
    label {
      font-size: 12px;
      padding-left: 0.75em;
      font-family: RalewayBold, Verdana, Geneva, sans-serif;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.25em;
      color: #6c7798;
    }
    .form-control {
      height: 3.5em;
      margin-bottom: 2.5em;
      padding: 1em;
      border: none;
      border-radius: 3px;
    }
    .upload-input { // apply to wrapping label
      position: relative;
      width: 100%;
      height: 3.5em;
      background-color: #fff;
      border-style: solid;
      border-radius: 5px 5px 0 0;
      border-width: 2px;
      border-color: #b4bbcf #b4bbcf #dcdfe9 #b4bbcf;
      cursor: pointer;
      .icon-addteam,
      .fa-camera-retro {
        position: absolute;
        left: 0.75em;
        top: 0.75em;
        color: #5fd1ba;
        font-size: 16px;
      } 
      .file-name {
        float: left;
        margin: 1em 0 0 2.5em;
        font-family: RalewayRegular, Verdana, Geneva, sans-serif;
        color: #78838e;
        text-transform: none;
        letter-spacing: 0;
      }
    }
    .upload-input:last-child { 
      border-radius: 0 0 5px 5px;
      border-color: #b4bbcf;
      border-style: none solid solid solid;
    }
    .upload-input.single { 
      border-radius: 5px;
      border-color: #b4bbcf;
      border-style: solid;
    }
    .fa-times-circle-o {
      position: absolute;
      right: 2.75em;
      top: 2.5em;
      color: #b4bbcf;
      font-size: 16px;
      cursor: pointer;
      z-index: 2;
    } 
  }
}

.modal-footer {
  padding: 0.5em 15px 2.75em;
  border: none;
  text-align: center;
  .btn + .btn { // targets second button
    margin-left: 10px;
  }
}





