.profile .content {
  padding-top: 0;
}

/* Fonts */
@font-face {
  font-family: 'RalewayBold';
  src: url('../fonts/raleway-bold-webfont.eot');
  src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-bold-webfont.woff') format('woff'), url('../fonts/raleway-bold-webfont.ttf') format('truetype'), url('../fonts/raleway-bold-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'RalewaySemibold';
  src: url('../fonts/raleway-semibold-webfont.eot');
  src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-semibold-webfont.woff') format('woff'), url('../fonts/raleway-semibold-webfont.ttf') format('truetype'), url('../fonts/raleway-semibold-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'RalewayMedium';
  src: url('../fonts/raleway-medium-webfont.eot');
  src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-medium-webfont.woff') format('woff'), url('../fonts/raleway-medium-webfont.ttf') format('truetype'), url('../fonts/raleway-medium-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'RalewayRegular';
  src: url('../fonts/raleway-regular-webfont.eot');
  src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular-webfont.woff') format('woff'), url('../fonts/raleway-regular-webfont.ttf') format('truetype'), url('../fonts/raleway-regular-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'RalewayLight';
  src: url('../fonts/raleway-light-webfont.eot');
  src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-light-webfont.woff') format('woff'), url('../fonts/raleway-light-webfont.ttf') format('truetype'), url('../fonts/raleway-light-webfont.svg#svgFontName') format('svg');
}
.raleway-bold {
  font-family: RalewayBold, Verdana, Geneva, sans-serif;
}
.raleway-semibold {
  font-family: RalewaySemibold, Verdana, Geneva, sans-serif;
}
.raleway-medium {
  font-family: RalewayMedium, Verdana, Geneva, sans-serif;
}
.raleway-regular {
  font-family: RalewayRegular, Verdana, Geneva, sans-serif;
}
.raleway-light {
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
/* Color Variables - for whole project
-------------------------------------------------------------------------------- */
.white {
  color: #ffffff;
}
.white-bg {
  background-color: #ffffff;
}
.black {
  color: #000000;
}
.black-bg {
  background-color: #000000;
}
.grey {
  color: #b2c0cd;
}
.grey-bg {
  background-color: #b2c0cd;
}
.lt-grey {
  color: #f4f5f6;
}
.lt-grey-bg {
  background-color: #f4f5f6;
}
.accent {
  color: #5bb8d7;
}
.accent-bg {
  background-color: #5bb8d7;
}
.navy {
  color: #293446;
}
.navy-bg {
  background-color: #293446;
}
.blue {
  color: #344c7b;
}
.blue-bg {
  background-color: #344c7b;
}
.green {
  color: #4baf00;
}
.green-bg {
  background-color: #4baf00;
}
.red {
  color: #f26c4f;
}
.red-bg {
  background-color: #f26c4f;
}
.purple {
  color: #8781bd;
}
.purple-bg {
  background-color: #8781bd;
}
.lt-purple {
  color: #a783c9;
}
.lt-purple-bg {
  background-color: #a783c9;
}
.orange {
  color: #fcac66;
}
.orange-bg {
  background-color: #fcac66;
}
.med-lt-grey {
  color: #e8eaeb;
}
.med-lt-grey-bg {
  background-color: #e8eaeb;
}
.cornflower {
  color: #cde7ef;
}
.cornflower-bg {
  background-color: #cde7ef;
}
.lt-cornflower {
  color: #e9eef3;
}
.lt-cornflower-bg {
  background-color: #e9eef3;
}
.not-lt-grey {
  color: #f4f7fa;
}
.not-lt-grey-bg {
  background-color: #f4f7fa;
}
.periwinkle {
  color: #a3b3c3;
}
.periwinkle-bg {
  background-color: #a3b3c3;
}
.facebook {
  color: #4875b4;
}
.facebook-bg {
  background-color: #4875b4;
}
.twitter {
  color: #1dcaff;
}
.twitter-bg {
  background-color: #1dcaff;
}
/* Color Buttons
--------------------------------------- */
.btn-accent {
  background-color: #5bb8d7;
  text-shadow: 1px 1px 1px #2d96b9;
}
.btn-accent:hover {
  background-color: #2d96b9;
}
.btn-accent-border {
  background-color: transparent;
  border: 3px solid #5bb8d7;
}
.btn-accent-border:hover {
  background-color: transparent;
  border-color: #2d96b9;
}
.btn-grey {
  background-color: #b2c0cd;
  text-shadow: 1px 1px 1px #849aaf;
}
.btn-grey:hover {
  background-color: #849aaf;
}
.btn-grey-border {
  background-color: transparent;
  border: 3px solid #b2c0cd;
}
.btn-grey-border:hover {
  background-color: transparent;
  border-color: #849aaf;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  width: 100%;
  color: #78838e;
}
/* Bootstrap Mods
-------------------------------------------------------------------------------------------------------------------------------------------------*/
.btn {
  transition: background-color 350ms ease-out 50ms, color 350ms ease-out 50ms, border-color 350ms ease-out 50ms;
}
.btn.white:hover {
  color: #cccccc;
}
button {
  outline: none;
}
.navbar {
  position: static;
}
.fade {
  transition: opacity 350ms ease-out 50ms;
}
.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
.row .half-gutter {
  padding-right: 7px;
  padding-left: 7px;
}
.fa,
span {
  transition: color 350ms ease-out 50ms;
}
body .no-transition {
  transition: none;
}
a:hover {
  text-decoration: none;
}
.row-padding {
  padding-left: 15px;
  padding-right: 15px;
}
.caret-rt {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
}
.caret-lt {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid;
}
input[type=text],
textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
input[type=text]:focus,
textarea:focus {
  box-shadow: 0 0 1px #5bb8d7;
}
/* Buttons
-------------------------------------------------------------------------------------------------------------------------------------------------*/
.pointer {
  cursor: pointer;
}
/* *-2 Layout
-------------------------------------------------------------------------------------------------------------------------------------------------*/
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.inline-block {
  display: inline-block;
}
.auto-width {
  width: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.z-3 {
  position: relative;
  z-index: 3;
}
.z-100 {
  position: relative;
  z-index: 100;
}
.no-border {
  border: none;
}
.spacing-0 {
  letter-spacing: 0;
}
.spacing-0625 {
  letter-spacing: 0.0625em;
}
.spacing-125 {
  letter-spacing: 0.125em;
}
.spacing-250 {
  letter-spacing: 0.25em;
}
.full-bg-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
.full-height {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
}
body .to-center {
  transform: translate(0, 0);
  opacity: 1.0;
}
.v-center-box {
  position: relative;
  height: 100%;
}
.v-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* spacing  - top/bottom in em, left/right in %
---------------------------------------------------------------------------- */
.m-top-0 {
  margin-top: 0;
}
.m-top-025 {
  margin-top: 0.25em;
}
.m-top-05 {
  margin-top: 0.5em;
}
.m-top-08 {
  margin-top: 0.8em;
}
.m-top-10 {
  margin-top: 1.0em;
}
.m-top-12 {
  margin-top: 1.25em;
}
.m-top-15 {
  margin-top: 1.5em;
}
.m-top-20 {
  margin-top: 2.0em;
}
.m-top-25 {
  margin-top: 2.5em;
}
.m-top-30 {
  margin-top: 3.0em;
}
.m-top-40 {
  margin-top: 4.0em;
}
.m-top-100 {
  margin-top: 10.0em;
}
.m-bottom-0 {
  margin-bottom: 0em;
}
.m-bottom-10 {
  margin-bottom: 1.0em;
}
.m-bottom-15 {
  margin-bottom: 1.5em;
}
.m-bottom-20 {
  margin-bottom: 2.0em;
}
.m-bottom-30 {
  margin-bottom: 3.0em;
}
.left007 {
  margin-left: -7px;
}
.right007 {
  margin-right: -7px;
}
.m-left-05 {
  margin-left: 0.5%;
}
.m-left-3 {
  margin-left: 3%;
}
.m-left-5 {
  margin-left: 5%;
}
.m-left-10 {
  margin-left: 1.0em;
}
.m-left-15 {
  margin-left: 1.5em;
}
.m-left-20 {
  margin-left: 2.0em;
}
.m-left-35 {
  margin-left: 3.5em;
}
.m-left-40 {
  margin-left: 4.0em;
}
.m-left-525 {
  margin-left: 5.25em;
}
.m-left-075 {
  margin-left: 0.75em;
}
.m-right-05 {
  margin-right: 0.5em;
}
.m-right-10 {
  margin-right: 1.0em;
}
.m-right-25 {
  margin-right: 2.5em;
}
/* Padding  - top/bottom in em, left/right in %
---------------------------------------------------------------------------- */
.p-top-05 {
  padding-top: 0.5em;
}
.p-top-10 {
  padding-top: 1.0em;
}
.p-top-20 {
  padding-top: 2.0em;
}
.p-bottom-20 {
  padding-bottom: 2.0em;
}
.p-bottom-40 {
  padding-bottom: 4.0em;
}
.p-left-05 {
  padding-left: 0.5em;
}
.p-left-35 {
  padding-left: 3.5em;
}
.p-left-525 {
  padding-left: 5.25em;
}
.p-right-05 {
  padding-right: 0.5em;
}
.p-all-10 {
  padding: 1.0em;
}
.p-all-15 {
  padding: 1.5em;
}
/* Left
---------------------------------------------------------------------------- */
.img-responsive-sm {
  display: block;
  max-width: 90%;
  height: auto;
}
/* absolute/fixed positioning
---------------------------------------------------------------------------- */
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.lh-170 {
  line-height: 170%;
}
.lh-180 {
  line-height: 180%;
}
.lh-200 {
  line-height: 200%;
}
.lh-250 {
  line-height: 250%;
}
.width-80 {
  width: 80%;
}
.width-100 {
  width: 100%;
}
/* (A) Mobile only
------------------------------------------------------------------------------------------------------------------------------------------------------
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* (A) 479 max width - Phone Portrait
------------------------------------------------------------------------------------------------------------------------------------------------------
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* (A - 2) 479 max width - Retina Graphics
------------------------------------------------------------------------------------------------------------------------------------------------------
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
------------------------------------------------------------------------------------------------------------------------------------------------------  */
/* (D) 767 max width - Phone Landscape
------------------------------------------------------------------------------------------------------------------------------------------------------
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* (A - 2) 479 max width - Retina Graphics
------------------------------------------------------------------------------------------------------------------------------------------------------
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
------------------------------------------------------------------------------------------------------------------------------------------------------  */
/* (D) 768 max width and up                         >------------ FULL DESKTOP VERSION -----------<
------------------------------------------------------------------------------------------------------------------------------------------------------
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* (D) 959 max width only - Tablet Portrait
------------------------------------------------------------------------------------------------------------------------------------------------------
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* (D) 1199 max width only - Tablet landscape & small desktop
------------------------------------------------------------------------------------------------------------------------------------------------------
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* (E) 1200+ max-width  - Large Desktops
------------------------------------------------------------------------------------------------------------------------------------------------------
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
------------------------------------------------------------------------------------------------------------------------------------------------------ */
a,
p {
  transition: color 350ms ease-out 50ms;
}
p {
  color: #78838e;
}
a {
  color: #5bb8d7;
}
a:hover,
a:focus,
a:active {
  color: #2885a4;
}
html,
body {
  min-height: 100%;
  background-color: #f4f5f6;
}
body {
  overflow-y: scroll;
}
hr {
  margin: 0;
  height: 1px;
}
.drop-alert {
  position: fixed;
  height: 4em;
  width: 100%;
  padding: 1.25em;
  z-index: 100;
  transform: translate(0, -10em);
  transition: all 1000ms ease-out 50ms;
}
.info-header {
  position: relative;
  height: 12.65em;
}
.info-header .btn:hover,
.info-header .btn:focus,
.info-header .btn.focus {
  color: #ffffff;
  text-decoration: none;
}
.info-header .btn {
  font-size: 11px;
  font-size: 1.1rem;
  padding: 9px 24px;
}
.info-header:after {
  content: "";
  position: absolute;
  background: #293446;
  height: 12.65em;
  width: 20000px;
  left: -10000px;
  z-index: -1;
}
.status-drop-button {
  font-size: 11px;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 350ms ease-out 50ms;
}
.little {
  font-size: 11px;
  font-size: 1.1rem;
}
.status-drop-button .caret {
  right: 0;
  position: absolute;
  top: 0.9em;
}
.status-drop {
  position: absolute;
  width: 18em;
  left: -1em;
  padding: 0;
  border-radius: 0;
  z-index: 1000;
}
.status-drop li div {
  font-size: 11px;
  font-size: 1.1rem;
  letter-spacing: 0.25em;
  padding: 1em;
  background-color: #e8eaeb;
  cursor: pointer;
  transition: background-color 350ms ease-out 50ms;
}
.status-drop li div:hover {
  background-color: #cde7ef;
}
.status-drop .status-other {
  background-color: #ffffff;
  cursor: text;
}
.status-drop .status-other:hover {
  background-color: #ffffff;
}
.nav-tabs {
  border: 2px solid #b2c0cd;
  border-style: none none solid none;
}
.nav-tabs > li {
  margin-bottom: -2px;
}
.nav-tabs > li:hover {
  background-color: transparent;
}
.nav-tabs > li > a {
  margin-left: 0;
  background-color: transparent;
  border: 3px solid transparent;
  border-style: none none solid none;
  color: #b2c0cd;
  transition: color 350ms ease-out 50ms, border-color 350ms ease-out 50ms;
}
.nav-tabs > li > a:hover {
  color: #a3b3c3;
  border: 3px solid #a3b3c3;
  border-style: none none solid none;
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #000000;
  background-color: transparent;
  border: 3px solid #5bb8d7;
  border-style: none none solid none;
}
.nav-data {
  color: #5bb8d7;
}
.nav-btn {
  width: 3em;
  height: 2em;
}
.add-post {
  border: 1px solid #d7dfed;
  border-radius: 5px;
}
.add-post textarea {
  height: 8.675em;
  padding: 1em 1.25em;
  border: none;
  outline: 0px;
  -webkit-appearance: none;
}
.add-post .btn {
  padding: 0.25em 3em;
  margin: 0.5em;
}
.add-post .btn:hover {
  color: #ffffff;
}
.add-post .form-group {
  margin-bottom: 0;
}
.add-post .thumb {
  position: absolute;
  right: 2em;
  top: 0.75em;
  bottom: 4em;
  width: 15%;
  border: 1px solid #e9eef3;
}
.add-post .x-box {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  height: 1em;
  width: 1em;
  z-index: 2;
}
.add-post .x-box .fa {
  margin: -1px 0 0 -1px;
}
.add-post .content-preview {
  display: none;
  position: relative;
  width: 100%;
  padding: 1em;
  border: 1px solid #d7dfed;
  border-style: solid none;
}
.add-post .content-preview p {
  width: 85%;
  margin-left: 15%;
}
.add-post .content-preview .close {
  position: absolute;
  right: 0.5em;
  top: 50%;
  margin-top: -0.5em;
}
.add-post .content-preview-thumb {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15%;
  border: 1px solid #e9eef3;
}
.add-post .header {
  font-family: RalewaySemibold, Verdana, Geneva, sans-serif;
}
.add-post .link {
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
  color: #5bb8d7;
}
.add-post .text {
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.input-btn {
  float: left;
  position: relative;
  margin-left: 2em;
  width: 2em;
}
.input-btn .grey {
  transition: color 350ms ease-out 50ms;
}
.input-btn .grey:hover {
  color: #849aaf;
}
#content-link-modal .btn-grey,
#content-link-modal .btn-accent {
  outline: none;
  padding: 0.25em 2.5em;
}
#content-link-modal .white:hover,
#content-link-modal .white:focus {
  color: white;
}
#content-link-modal .grey:hover {
  color: #676767;
}
#content-link-modal .modal-backdrop {
  background-color: #344c7b;
  opacity: 0.95;
}
#content-link-modal .modal-dialog {
  width: 500px;
  margin: 100px auto;
}
#content-link-modal .modal-content {
  border-radius: 0;
}
#content-link-modal .modal-body {
  padding: 0;
}
#content-link-modal .modal-header {
  border: 1px solid #53b4d5;
  border-style: none none solid none;
}
#content-link-modal .close {
  position: absolute;
  right: -0.7em;
  top: -1em;
  opacity: 1;
  transition: opacity 350ms ease-out 50ms;
}
#content-link-modal .close:hover {
  opacity: 0.5;
}
#content-link-modal .form-control {
  font-size: 20px;
  font-size: 2.0rem;
  padding: 1.5em;
  margin: 2em 5% 0 5%;
  border-radius: 0;
  outline: none;
  width: 90%;
  border: 1px solid #d7dfed;
}
#content-link-modal form {
  overflow: hidden;
}
#content-link-modal form .btn {
  float: right;
  margin: 0.5em 5% 2em 5%;
}
.post .post-body {
  border: 1px solid #d7dfed;
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
}
.post .avatar {
  width: 3.5em;
  height: 3.5em;
  margin-right: 1em;
}
.post .comment-box {
  width: 100%;
  border: 1px solid #d7dfed;
  border-style: solid none none none;
}
.post .comment-box input {
  width: 100%;
  height: 100%;
  padding: 1em;
  outline: none;
  border: none;
  margin: 0;
}
.post .comment {
  border: 1px solid #d7dfed;
  border-style: solid none none none;
  padding: 0.5em 1em;
}
.team-connector {
  position: relative;
  height: 4.25em;
  width: 4em;
  margin-left: 0.75em;
}
.team-connector-pipe {
  position: absolute;
  width: 2px;
  background-color: #b2c0cd;
  height: 2.5em;
  left: 0.9em;
}
.team-connector-plus {
  position: absolute;
  bottom: -0.25em;
  left: -0.05em;
  background-color: #ffffff;
  z-index: 2;
}
.team-connector-dash {
  position: absolute;
  width: 2.5em;
  background-color: #b2c0cd;
  height: 2px;
  bottom: 1em;
  right: 0;
}
.team-img {
  width: 3.5em;
  height: 3.5em;
}
.gallery-modal .item {
  height: 400px;
}
.gallery-modal .modal-backdrop {
  background-color: #253657;
  opacity: 0.95;
  border: 30px solid rgba(255, 255, 255, 0.9);
}
.gallery-modal .modal-dialog {
  position: absolute;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
}
.gallery-modal .modal-content {
  border-radius: 0;
  box-shadow: none;
}
.gallery-modal .modal-body {
  padding: 0;
}
.gallery-modal .close {
  right: 2em;
  position: absolute;
  top: 2em;
  opacity: 1;
  transition: opacity 350ms ease-out 50ms;
}
.gallery-modal .close:hover {
  opacity: 0.5;
}
.gallery-modal .carousel-control {
  background: none;
}
.gallery-modal .fa-caret-left {
  position: absolute;
  bottom: -2em;
  right: -150px;
  z-index: 3;
}
.gallery-modal .fa-caret-right {
  position: absolute;
  bottom: -2em;
  left: -150px;
  z-index: 3;
}
.gallery-modal .slide-count {
  position: absolute;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: 233px;
}
.delete-photo {
  position: absolute;
  top: 0.5em;
  left: 1em;
  color: white;
  height: 1em;
  width: 1em;
  z-index: 2;
  opacity: 0;
  transition: opacity 350ms ease-out 50ms;
}
.delete-photo .fa {
  margin: -1px 0 0 -1px;
}
.gallery-square,
.gallery-thumbnail {
  position: relative;
}
.gallery-square:hover .delete-photo,
.gallery-thumbnail:hover .delete-photo {
  opacity: 1;
}
.social-media .twitter:hover {
  color: #00b2e9;
}
.social-media .facebook:hover {
  color: #395d90;
}
.social-media .comment-box {
  position: relative;
  width: 100%;
  border: 1px solid #d7dfed;
  border-radius: 5px;
  overflow: hidden;
}
.social-media .comment-box input[type=text]:focus,
.social-media .comment-box textarea:focus {
  box-shadow: none;
}
.social-media .comment-box input {
  width: 80%;
  height: 100%;
  padding: 1em;
  outline: none;
  border: none;
  margin: 0;
  background-color: transparent;
  color: #78838e;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.social-media .fb-checkbox {
  position: absolute;
  right: 0.75em;
  top: 1em;
  cursor: pointer;
}
.social-media .twitter-checkbox {
  position: absolute;
  right: 2em;
  top: 1em;
  cursor: pointer;
}
.social-media .fb-checkbox.grey:hover,
.social-media .twitter-checkbox.grey:hover {
  color: #5b748b;
}
.comment-box input {
  color: #78838e;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.comment-box input::-webkit-input-placeholder {
  color: #78838e;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.comment-box input::-moz-placeholder {
  color: #78838e;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.comment-box input:-ms-input-placeholder {
  color: #78838e;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
a.facebook:hover {
  color: #1c2e47;
}
.not-user .tweeter {
  color: #5bb8d7;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.not-user .tweeter::-webkit-input-placeholder {
  color: #5bb8d7;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.not-user .tweeter::-moz-placeholder {
  color: #5bb8d7;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.not-user .tweeter:-ms-input-placeholder {
  color: #5bb8d7;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.not-user .user-only,
.not-for-user {
  display: none;
}
.not-user .not-for-user {
  display: block;
}
.accent-placeholder {
  color: #5bb8d7;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.accent-placeholder::-webkit-input-placeholder {
  color: #5bb8d7;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.accent-placeholder::-moz-placeholder {
  color: #5bb8d7;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.accent-placeholder:-ms-input-placeholder {
  color: #5bb8d7;
  font-family: RalewayLight, Verdana, Geneva, sans-serif;
}
.section-about .btn-grey {
  outline: none;
  padding: 0.25em 2.5em;
}
.section-about .white:hover {
  color: white;
}
.section-about .grey:hover {
  color: #676767;
}
.section-about .bio-board {
  font-size: 15px;
  font-size: 1.5rem;
  outline: none;
  padding: 10px 15px;
  margin-left: -15px;
  margin-right: -15px;
  transition: background-color 350ms ease-out 50ms;
}
.section-about .modal-backdrop {
  background-color: #344c7b;
  opacity: 0.95;
}
.section-about .modal-content {
  border-radius: 0;
}
.section-about .modal-body {
  padding: 0;
}
.section-about .modal-header {
  font-size: 15px;
  font-size: 1.5rem;
  padding: 1.25em 1.5em;
  border: 1px solid #53b4d5;
  border-style: none none solid none;
}
.section-about .close {
  position: absolute;
  right: -0.7em;
  top: -1em;
  opacity: 1;
  transition: opacity 350ms ease-out 50ms;
}
.section-about .close:hover {
  opacity: 0.5;
}
.section-about .fa-search {
  position: absolute;
  top: 1.75em;
  left: 1.5em;
}
.section-about .form-control {
  font-size: 20px;
  font-size: 2.0rem;
  padding: 2em 2em 2em 3em;
  margin: 0;
  border: 1px solid #efefef;
  border-style: none none solid none;
  border-radius: 0;
  outline: none;
}
.section-about .add .accent:hover {
  color: #84cae1;
}
.section-about .remove .periwinkle:hover {
  color: #8499af;
}
.section-about .namecard {
  padding: 1em 2em;
}
.section-about .team-img {
  width: 5em;
  height: 5em;
}
.section-about .add {
  margin-top: -1.5em;
}
.section-about .on-team .add {
  display: none;
}
.section-about .remove {
  display: none;
}
.section-about .on-team .remove {
  display: block;
  margin-top: -1.5em;
}
#edit-bio-save,
#edit-bio-cancel,
#edit-skills-save,
#edit-skills-cancel {
  display: none;
}
.follow {
  display: block;
  margin-top: 1.0em;
}
.following .follow {
  display: none;
}
.unfollow {
  display: none;
  margin-top: 1.5em;
}
.following .unfollow {
  display: block;
  position: relative;
  height: 1em;
}
.following .unfollow .fa {
  top: 0.15em;
  opacity: 1;
  transition: opacity 350ms ease-out 50ms;
}
.un {
  color: #ffffff;
  display: none;
}
.ing {
  opacity: 1;
  transition: opacity 350ms ease-out 50ms;
}
.unfollow:hover p,
.unfollow:hover .un {
  color: #f26c4f;
  display: inline;
}
.unfollow:hover .fa,
.unfollow:hover .ing {
  opacity: 0;
}
.grey-underline {
  border: 1px solid #b2c0cd;
  border-style: none none solid none;
}
.cornflower-underline {
  border: 1px solid #e9eef3;
  border-style: none none solid none;
}
.followers .card,
.following-people .card {
  position: relative;
  min-height: 10em;
}
.followers .card .v-center,
.following-people .card .v-center {
  width: 96%;
}
.followers .btn,
.following-people .btn {
  padding-left: 2em;
  padding-right: 2em;
}
.followers .btn:hover,
.following-people .btn:hover,
.followers .btn:focus,
.following-people .btn:focus {
  color: #ffffff;
}
.followers hr,
.following-people hr {
  width: 90%;
  background-color: #cde7ef;
  height: 1px;
  position: absolute;
  bottom: 0;
}
@media all and (max-width: 480px) {
  .info-header {
    height: auto;
    overflow: hidden;
    padding: 2em 0 1em 0;
  }
  .info-header .btn {
    float: left;
  }
  .info-header .fixed-xs {
    width: 70%;
    margin: 1em 15% 2em 15%;
    padding: 0;
    height: 5em;
    float: left;
  }
  .info-header:after {
    content: none;
  }
  #section-gallery .fixed-xs {
    width: 80%;
    margin: 1em 10% 2em 10%;
    padding: 0;
  }
}
@media all and (min-width: 481px) and (max-width: 767px) {
  .info-header {
    height: auto;
    overflow: hidden;
    padding: 2em 0 1em 0;
  }
  .info-header .btn {
    float: left;
  }
  .info-header .fixed-xs {
    width: 30%;
    margin: 1em 10% 2em 10%;
    padding: 0;
    height: 5em;
    float: left;
  }
  .info-header:after {
    content: none;
  }
  #section-gallery .fixed-xs {
    width: 80%;
    margin: 1em 10% 2em 10%;
    padding: 0;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .info-header .btn {
    font-size: 10px;
    padding: 6px;
    width: 124px;
    float: right;
    margin: 6px 0;
  }
  .info-container {
    padding-left: 2em;
    padding-right: 2em;
  }
  .nav-tabs > li > a {
    padding: 10px 0;
  }
  .activity-sidebar {
    padding-left: 7%;
  }
  .following .unfollow {
    display: block;
    text-align: center;
  }
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .info-container {
    padding-left: 4em;
    padding-right: 4em;
  }
  .following .unfollow .fa {
    position: absolute;
    left: -0.75em;
  }
}
@media all and (min-width: 1200px) {
  .info-container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
  }
  .followers .card,
  .following .card {
    min-height: 8em;
  }
}
@media all and (max-width: 479px) {
  body {
    font-size: 11px;
  }
}
