/*nav*/
.top-nav {
  font-size: 14px;
  background: url("../../../images/dashboard/nav-bg.png");
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  height: 70px;
  position: relative;
  width: 100%;
  padding-left: 10px;
  /*box-shadow: 0px 1px 15px #888888;
  top: 0;*/
}
.menu-link {
  margin: 0 20px;
  padding: 28px 0 0;
  width: 20px;
  height: 100%;
  float: left;
}
.icon-bar {
  margin-bottom:4px;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}
.go-one {
  float: left;
  width: 120px;
  height: 70px;
  margin: 0;
  padding: 0;
  background: url("../../../images/dashboard/elliman-one-logo-blue.svg") left center no-repeat;
  background-size: 99px auto;
  text-indent: -9999px;
}
.search {
  margin: 0;
  padding: 0;
  height: 100%;
  float: right;
}
.company-apps-button {
  float: right;
  padding: 6px 10px 8px 10px;
}
.company-apps-button img {
  height: 60px;
  padding: 9px 10px 7px;
  width: auto;
}
.company-apps-button-active {
  background: #5bb8d7;
}
