/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

body {
  background: #ebf1f5;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.wrap {
  position: relative;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

.content {
  padding-top: 70px;
}

h1.header-green {
  background: #77cfbd;
  margin: 0;
  padding: 9px 20px;
  color: white;
  box-shadow: 0px 1px 4px #888888;
}

h1.header-blue {
  background: #5bb8d7;
  margin: 0;
  padding: 9px 20px;
  color: white;
  box-shadow: 0px 1px 4px #888888;
}
