/*nav*/
.top-nav {
    font-size: 14px;
    background: url("../../images/dashboard/nav-bg.png");
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    height: 70px;
}
.go-one {
    float: none;
    width: 150px;
    height: 70px;
    margin: 0;
    padding: 0;
    background: url("../../images/dashboard/elliman-one-logo-blue.svg") left center no-repeat;
    background-size: 110px auto;
    text-indent: -9999px;
}
.top-nav a {
    display: inline-block;
    margin: 0 0;
    padding: 14px 0;
    color: ##1a70d4;
}
.top-nav a:hover {
    color: #1a70d4;
}
.top-nav a:focus {
    color: #1a70d4;
    font-weight: bold;
}

.panel {
    position: fixed;
    left: -15.625em;
    width: 15.625em;
}

.wrap {
    position: relative;
}
