#featured-apps {
  height: 577px;
  background: url('../../images/dashboard/company-apps/featured-app-bg.jpg') no-repeat;
  background-position: right;
  background-size: cover;
  margin-left: -15px;
  color: white;
  position: relative;
  img {
    padding-top: 60px;
  }
}

#company-apps {
  margin-top: 30px;
}

#company-apps .app {
  margin-bottom: 30px;
}
