// Variables 
@import "/client/lib/style.import.less";

.message-input {
	position: absolute;
	width: 100%;
	height: 70px;
	bottom: 0;
	background-color: @white;
	border: 2px solid @lt-dk-grey;
	border-style: solid none none none;
	z-index: 2;
	.message-btn {
		float: left;
		background-color: @lt-blue-grey;
		height: 4em;
		width: 4em;
		border-radius: 50%;
		margin: 0.5em 10px 0.5em 40px;
		padding: 1.35em 1.5em 1.5em 1.5em;
		cursor: pointer;
		.fa {
			font-size: 18px;
			margin-left: -1px;
		}
	}
	.input-options {
		position: absolute;
		bottom: 80px;
		left: 10px;
		// height: 0;
		display: none;
		.option {
			font-size: 11px;
			width: 12.273em;
			height: 4.091;
			margin-top: 0.5em;
			padding: 1.5em 0;
			color: @white;
			font-family: @raleway-semibold;
			text-transform: uppercase;
			letter-spacing: 0.125em;
			text-align: center;
			border-radius: 3px;
			cursor: pointer;
			-webkit-box-shadow: -3px 3px 4px -1px rgba(0,0,0,0.35);
			-moz-box-shadow: -3px 3px 4px -1px rgba(0,0,0,0.35);
			box-shadow: -3px 3px 4px -1px rgba(0,0,0,0.35);
		}
		.post {
			background-color: @lime;
		}
		.attachment {
			background-color: @purple;
		}
		.task {
			display: none;
			background-color: @aqua;
		}
	}
	.input {
		font-size: 16px;
		float: left;
		padding: 1.5em 1em 1.5em 25px;
		color: @blue-grey;
		border: none;
	}
	.dropdown {
		width: auto;
	}
	.attachment-display {
		position: relative;
		width: 0;
		height: 50px;
		margin: 10px;
		overflow: hidden;
		background-color: @lt-blue-grey;
		.fa-file {
			color: @accent;
		}
		.name {
			font-family: @raleway-semibold;
			color: @text-navy;
			font-size: 12px;
			margin-left: 3px;
		}
		.size {
			font-family: @raleway-regular;
			color: @text;
			font-size: 12px;
		}
		.fa-close {
			position: absolute;
			right: 8px;
			top: 18px;
			color: @text;
			cursor: pointer;
		}
	}
	.attachment-display::after {
		content: '';
		position: absolute;
		left: -8px;
		top: 50%;
		margin-top: -4px;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-right: 8px solid @lt-blue-grey;
	}
	.new-post {
		display: none;
	}
}

// alternate styles when tasks are enabled
.tasks {
	.message-input {
		.input-options {
			.task {
				display: block;
			}
		}
	}
}

// alternate styles when attachment is uploaded
.message-input.holding {
	.message-btn {
		background-color: @purple;
		color: @white;
		.fa {
			font-size: 22px;
			margin: -2px 0 0 -2px;
		}
	}
	.fa-bars::before {
		content: "\f0c6";
	}
}