// Variables
@import '/packages/styles/variables.import.less';

// The styles are still in documents.less and must be refactored

.documentRowDragHelper {
  border: 1px solid #b3bbcd;
  border-radius: 3px;
  color: #78838e;
  padding: 4px 8px;
  background: #fff;
}

.documentRow--dragHover {
  background: #caf6ee;
}

.document-row {
  background-color: @white;
  transition: background-color 350ms ease-out 50ms;

}
.document-row:hover {
  background-color: @file-hover;
}
.document-row.selected {
  background-color: @file-selected;
}