// The styles are still in documents.less and must be refactored

.documentRowDragHelper {
  border: 1px solid #b3bbcd;
  border-radius: 3px;
  color: #78838e;
  padding: 4px 8px;
  background: #fff;
}

.documentRow--dragHover {
  background: #caf6ee;
}
