// Variables
@import '/packages/styles/variables.import.less';

// Not sure why all these selectors were used. Leaving them in in case I'm missing something.
// .myDocuments, .companyDocuments, .folder {
#documents-container {
  background: white;

  // left side background color 100% height
  .leftside {
    background: #f1f4f8;
    padding-bottom: 100%;
    margin-bottom: -100%;
  }

  // top blue border
  .header-border-blue {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background: #5bb8d7;
  }

  // new folder and upload file options
  .options {
    height: 70px;
    font-family: RalewaySemibold, Verdana, Geneva, sans-serif;
    font-size: 14px;
    border-bottom: 2px solid #ededed;
    display: block;
    padding: 42px 0 5px 2%;
    letter-spacing: .2em;
    font-variant: small-caps;
    text-transform: lowercase;
    a {
      padding-left: 20px;
      font-family: @raleway-bold;
      font-variant: small-caps;
      text-transform: lowercase;
      letter-spacing: 0.2em;
      color: @text-blue-grey;
    }
    a:hover {
      color: darken( @text-blue-grey, 15% );
    }
    i {
      font-size: 14px;
      vertical-align: middle;
      transition: none;
    }
    .folder {
      color: @lavender;
    }
    .folder:hover {
      color: darken( @lavender, 15% );
    }
    .upload {
      color: @lt-teal;
    }
    .upload:hover {
      color: @teal;
    }
  }

  //table
  .table > tbody > tr > td {
    padding: 19px 8px 13px 8px; 
    color: #78838e;
  }
  .table > thead > tr > th {
    border-bottom: 2px solid #eaeef4;
    text-transform: lowercase;
    font-variant: small-caps;
    font-family: @raleway-bold;
    letter-spacing: 0.2em;
    color: @grey;
  }
  // dee4ed
  table {
    border-color: #dee4ed;
    margin: 10px 2% 2%;
    // overwrite width for now. this should be looked at again.
    width: 95%;
    /*** custom stars for favorites ***/
    .favoriteCheckbox {
      /* to hide the checkbox */
      input[type=checkbox] {
        display:none;
      }
      input[type=checkbox] + label:before {
        font-family: FontAwesome;
        display: inline-block;
      }
      /* unchecked icon */
      input[type=checkbox] + label:before {
        content: "\f006";
        color: #d6ddea;
      }
      /* space between checkbox and label */
      input[type=checkbox] + label:before {
        letter-spacing: 10px;
      }
      /* checked icon */
      input[type=checkbox]:checked + label:before {
        content: "\f005";
        color: #ffb685;
      }
      /* allow space for check mark */
      input[type=checkbox]:checked + label:before {
        letter-spacing: 5px;
      }
    }
  }
}
// My Library mode styles
.myDocuments {
  #documents-container {
    i.pdf { 
      color: @lt-teal;
    }
  }
}
// Company Document mode styles
.companyDocuments {
  #documents-container {
    i.pdf { 
      color: @accent;
    }
  }
}

.one-infinite-scroll-list__loading {
  text-align: center;
}

.one-infinite-scroll-list__load-more {
  text-align: center;
}
