// Variables 
@import "/packages/styles/variables.import.less";

.communication-sidebar {
	position: relative;
	margin-left: -15px;
	margin-right: -15px;
	background-color: @blue-grey;
	.channel {
		cursor: pointer;
	}
	.room {
		cursor: pointer;
	}
	.communication-sidebar-sleeve {
		padding-top: 2em;
	}
	.dropdown {
		width: 100%;
		.dropdown-header {
			font-size: 16px;
			font-family: @raleway-semibold;
			color: @white;
			font-variant: small-caps;
			text-transform: lowercase;
			letter-spacing: 0.25em;
			cursor: pointer;
		}
		.well {
			background-color: @blue-grey;
			box-shadow: none;
			border: none;
			padding: 0;  // 0 19px;
		}
		ul {
			padding-left: 0;
		}
		.delete-channel {
			font-size: 12px;
			float: right;
			padding: 0.25em 1em;
			cursor: pointer;
			opacity: 0;
			transition: opacity 350ms ease-out 50ms;
			.icon-x-blunt {
				color: lighten( @blue-grey, 30% );
			}
		}
		.delete-channel:hover {
			.icon-x-blunt {
				color: @white;
			}
		}
		li {
			font-family: @raleway-light;
			color: @white;
			list-style: none;
			height: 34px;
			width: 90%;
			margin: 0.5em 0;
			padding: 7px 0 7px 3em;
			-moz-border-radius: 0 17px 17px 0;
			-webkit-border-radius: 0 17px 17px 0;
			border-radius: 0 17px 17px 0;
			background-color: @blue-grey;
			transition: background-color 350ms ease-out 50ms;
		}
		li:hover {
			background-color: @dk-blue-grey;
			.delete-channel {
				opacity: 1;
			}
		}
		.secondary {
			.dropdown-header {
				margin-top: 2em;
			}
			li {
				padding-left: 4em;
			}
		}
	}
	.dropdown-header {
		height: 3em;
		padding: 1em 2.25em;
	}
	.unread-num {
		border-radius: 15px;
		padding: 0.1em 0.43em;
		margin-left: 3px;
	}
	.add-team {
		cursor: pointer;
	}
} 