<template name="home">
  <div class="top-content">
    <div class="inner-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text wow fadeInUp">
            <h1>All of your real estate apps in one place.</h1>
            <div class="description">One App Center, One Login.  Go One gives you everything you<br>need in one place with easy access to all your data.</div>
          </div>
          <div class="col-sm-12 phone wow fadeInLeft"><img src="images/devices.png" alt=""></div>
        </div>
      </div>
    </div>
  </div>
  <!--Consolidate-->
  <div class="how-it-works-container how-it-works-description section-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>Consolidate</h3>
          <p>Don't change how you’re doing business, just make it more efficient. No need to sign in to multiple websites and applications to get work done. Keep your current workflow, but access everything in one place.</p>
        </div>
        <div class="col-sm-4 pull-right"><img src="images/consolidate.png" alt=""></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><img src="images/single-secure-sign-on.png" alt=""></div>
        <div class="col-sm-6 pull-right">
          <h3>Single Secure Sign On</h3>
          <p>Logging into multiple apps numerous times a day? Forgetting your passwords? Isn’t that painful? No need to track down lost passwords or open multiple websites to do your work.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h3>App Center</h3>
          <p>All of the best real estate applications are now under one roof. Simply find your favorite services in the App Center and add them to your dashboard for easy access. Close all of those tabs and avoid the clutter and inefficiency of working across numerous different websites. Go One provides you with everything you need to do your work on one website.</p>
        </div>
        <div class="col-sm-4 col-sm-offset-1 pull-right"><img src="images/app-center.png" alt=""></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><img src="images/private-social-network.png" alt=""></div>
        <div class="col-sm-6 pull-right">
          <h3>Private Social Network</h3>
          <p>Improve your company’s communication by creating your own internal private social network. Agents, admins, managers and executives can easily participate in conversations driving engagement and increasing productivity throughout the entire organization.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="app-center-container section-container">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Your applications, on one dashboard with one single sign in.</h2>
          <p>The App Center features all of the best real estate applications the industry has to offer.
            Simply search for an app, click “Add,” sign in to the corresponding account and start using it. It’s that easy.
          </p>
          <img src="images/app-center.png">
          <h2>Try Go One today for free</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque porta sapien vitae ipsum malesuada,
            a congue nisl venenatis. Phasellus neque tortor, consequat a consequat at, condimentum ut velit. Cum sociis natoque penatibus et magnis dis.
          </p>
          <a href="{{ pathFor 'register' }}" class="btn btn-default btn-lg">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</template>
